# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Node
node_modules/
dist/

# Environment files
.env
.env.*

# PDF & ZIP files
*.pdf
*.zip
evaluation/pdf_reports/
evaluation/results/
